<div class="panel panel-default">
    <div class="panel-heading">
        Username
    </div>
    <div class="panel-body">
        <h3 class="form-row">
            @Model.Content
        </h3>
        <hr>
    </div>
    <div class="panel-footer">
        <div class="col-lg-2">@Model.Date</div>
        <div class="col-lg-2">@Model.Likes</div>

        @if (ViewBag.UserId == Model.UserId || ViewBag.IsAdmin == true)
        {
    <form action="/Comments/Edit/@Model.CommentId">
        <button class="btn btn-secondary btn-block col-lg-1" type="submit">Edit Comment</button>
    </form>
    <form method="post" action="/Comments/Delete/@Model.CommentId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger btn-block col-lg-1" type="submit">Delete Comment</button>
    </form>}


    </div>
</div>