<div class="panel panel-default" style="margin: 0">
    <div class="panel-heading">
        My post from
        <span class="text-primary">@Model.Date.ToString("dd/MM/yyyy")</span>
        at
        <span class="text-primary">@Model.Date.ToString("HH:mm")</span>
        with
        <span class="text-primary">@Model.Likes</span>
        likes
    </div>
    <div class="panel-body">
        <strong>@Model.Content</strong>
        <div style="margin-top: 10px;">
            <a class="btn-sm btn-primary" href="/Comments/New/@Model.PostId">New comment</a>
            <a class="btn-sm btn-primary" href="/Posts/Show/@Model.PostId">Show more</a>
            <a class="btn-sm btn-primary">
                <span class="glyphicon glyphicon-star" aria-hidden="true" href="Posts/UpdateLikes/@Model.PostId"></span>
            </a>
        </div>
    </div>
</div>
<br />
<br />
<br />