@{
    ViewBag.Message = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.Message</h1>
        <h2>These is my profil</h2>

        <a class="btn btn-primary" href="/Posts/New">New post</a>
        <br />

        

    </div>
</body>
</html>