@{
    ViewBag.Message = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.Message</h1>
        <h2>These is my profil</h2>

        <a class="btn btn-primary" href="/Posts/New/@ViewBag.ProfileId">New post</a>
        <br />
        <div class="row">
            @foreach (Reaction.Models.Post post in ViewBag.Posts)
            {
                if (post.UserId == ViewBag.UserId)
                {@Html.Partial("PostInfo", post)}
        }
        </div>


    </div>
</body>
</html>