@model Reaction.Models.Comment

@{
    ViewBag.Title = "Edit Comment";
}

<h2>Edit Comment</h2>

<form method="post" action="/Comments/Edit/@Model.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Content", "Edit your comment")
    @Html.Editor("Content")

    <button type="submit">Edit comment</button>


</form>
