@{
    ViewBag.Title = "ShowFriends";
}

<h2>ShowFriends</h2>


@foreach (var profile in ViewBag.friends)
{
    if (profile != null && !string.IsNullOrEmpty(profile.Username))
    {
        <h3>  @profile.Username </h3>
    }
    <br />
    if (profile != null && !string.IsNullOrEmpty(profile.Description))
    {
        <h3>  @profile.Description </h3>
    }
    <br />
    <br />
}
