@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bucharest<br />
    Romania, University of Bucharest<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:Support@example.com">Support@reaction.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@reaction.com</a>
</address>