@model Reaction.Models.Post

@{
    ViewBag.Title = "Show posts";
}

<h2>Show posts</h2>

@foreach (var post in ViewBag.Posts)
{
    <h2>@post.Content</h2>
    <h3>@post.Date</h3>
    <form action="/Posts/Edit/@post.PostId">
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <button type="submit">Edit Post</button>
    </form>
    <form method="post" action="/Posts/Delete/@post.PostId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Delete Post</button>
    </form>
    <form action="/Comments/Index/@post.PostId">
        <button type="submit">Show Comments</button>
    </form>
    <br />
}
